{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center>
        <h1>displaying access</h1>
        <table border="4px">
            <tr>
                <th>name</th>
                <th>author</th>
                <th>date</th>
            </tr>
            {% for i in access %}
             <tr>
             <td>{{i.name}}</td>
             <td>{{i.author}}</td>
             <td>{{i.date}}</td>
             </tr>
             {% endfor %}
        </table>
    </center>
</body>
</html>